body{
		background-color: #e1e1d0;
		color: darkgreen;
		}
		header, footer
		{
		background-color: #ddff99;
		color: white
		}
		.artclass
		{
		border: thick solid maroon
		}
		#Past-experiences {border: thick dashed orange
		 }