body{
		background-color: lightyellow;
		color: darkgreen;
		}
		header, footer
		{
		background-color: lightblue;
		color: white
		}
		.artclass
		{
		border: thick solid maroon
		}
		#Past-experiences {border: thick dashed orange
		 }